@model OdeToFood.Models.Restourant

@{
    ViewBag.Title = "Index";
}

<h2>Reviews for "@Model.Name"</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { restourantId = Model.Id })
</p>

@Html.Partial("_Reviews", Model.Reviews)

<div>
	@Html.ActionLink("Back to Restourants", "Index", "Restourant")
</div>
