@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sõpruse puiestee 182<br />
    Tallinn, Estonia 13424<br />
    <abbr title="Phone">Phone:</abbr>
	+372 654 2833
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:info@tthk.ee">info@tthk.ee</a><br />
</address>