@model IEnumerable<OdeToFood.Models.Restourant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--<form method="GET">
	<input type="text" name="searchTerm" id="searchTerm" placeholder="Search..." class="form-control" />
	<input type="submit" value="Search" class="btn btn-default" />
	<input type="submit" value="Reset" onclick="document.getElementById('searchTerm').value=''" class="btn btn-default" />
</form>-->

@using (Ajax.BeginForm("Index", "Restourant", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "restourantList" }))
{
	<input type="search" name="searchTerm" id="searchTerm" placeholder="Search..." class="form-control" />
	<input type="submit" value="Search" class="btn btn-default" />
	<input type="submit" value="Reset" onclick="document.getElementById('searchTerm').value=''" class="btn btn-default" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Restourants", Model)
