@model IEnumerable<OdeToFood.Models.Restourant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="GET" action="@Url.Action("Index")" data-otf-ajax="true" data-otf-target="#restourantList">
	<input type="search" name="searchTerm" id="searchTerm" placeholder="Search..." class="form-control" data-otf-autocomplete="@Url.Action("Autocomplete")" />
	<input type="submit" value="Search" class="btn btn-default" />
	<input type="submit" value="Reset" onclick="document.getElementById('searchTerm').value=''" class="btn btn-default" />
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_Restourants", Model)
